/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  body {
    background: #fff5ed !important
  }
  .galery {
    margin-top: -150px;
  }
  .thumb-horizontal {
    width: 100%
  }
  
  .thumb-vertical {
    width: 100%
  }
  .bg-top {
    background: url('../img/bg-top.png') fixed no-repeat;
    background-size: 50% auto !important;
    background-position-x: 100% !important;
    margin-top: -50px
  }
  .bg-bottom {
    background: url('../img/bg-bottom.png') fixed no-repeat;
    background-size: 50% auto !important;
    background-position-y: 89% !important;
    margin-top: -50px
  }
  .textDestak {
    padding-top: 90px;
    width: 60%;
    text-align: left;
    font-size: 21px
  }
  .citacao {
    font-size: 10px;
    float: none;
    text-align: left
  }
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  .info {
    margin-bottom: 100px
  }
  .couple {
    font-size: 2.8em;
    margin-top: 60px
  }
  .invite {
    font-size: 16px;
    margin-top: 10px
  }
  .info {
    margin: 60px 0 170px 0
  }
  .mobile .btn {
    padding: 10px
  }
  .alert {
    margin-top: 50% !important;
    position: absolute;
    width: 92%
  }
  .btn-group-lg > .btn, .btn-lg {
    line-height: 1 !important;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
  .galery {
    margin-top: -150px;
  }
  body {
    background: #fff5ed !important
  }
  .bg-top {
    background: url('../img/bg-top.png') fixed no-repeat;
    background-size: 50% auto !important;
    background-position-x: 100% !important;
    margin-top: -50px
  }
  .bg-bottom {
    background: url('../img/bg-bottom.png') fixed no-repeat;
    background-size: 50% auto !important;
    background-position-y: 89% !important;
    margin-top: -50px
  }
  .textDestak {
    padding-top: 90px;
    width: 60%;
    text-align: left;
    font-size: 21px
  }
  .citacao {
    font-size: 10px;
    float: none;
    text-align: left
  }
  .info {
    margin-bottom: 100px
  }
  .couple {
    font-size: 2.8em;
    margin-top: 60px
  }
  .invite {
    font-size: 16px;
    margin-top: 10px
  }
  .info {
    margin: 60px 0 170px 0
  }
  .mobile .btn {
    padding: 10px
  }
  .alert {
    margin-top: 50% !important;
    position: absolute;
    width: 92%
  }
  .btn-group-lg > .btn, .btn-lg {
    line-height: 1 !important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .mobile {
    display: none;
  }
  .dektop {
    display: block;
  }
}