body {
  background: url('../img/bg.webp') #fff5ed fixed no-repeat !important;
  background-size: 50% auto !important;
  background-position-y: 100% !important
}

.btn-outline-secondary {
  background-color: #fff5ed !important;
  color: #9a6d6c !important;
  border-color: #9a6d6c !important;
  font-family: 'Satisfy', cursive !important
}

.btn-outline-secondary:hover {
  background-color: #9a6d6c !important;
  border-color: #9a6d6c !important;
  color: #fff5ed !important
}

.btn-secondary {
  background-color: #9a6d6c !important;
  color: #fff !important;
  border-color: #9a6d6c !important;
  font-family: 'Satisfy', cursive !important
}

.btn-secondary:hover {
  background-color: #6a4b4b !important;
  border-color: #6a4b4b !important;
  color: #fff5ed !important
}

.container {
  max-width: 600px !important
}

.couple {
  font-family: 'Pacifico', cursive;
  font-size: 4em;
  color: #9a6d6c;
  margin-top: 50px
}

.day, .time, .local {
  font-family: 'Satisfy', cursive;
  font-size: 2em;
  color: #e4bcba
}

.textDestak {
  font-family: 'Satisfy', cursive;
  font-size: 29px
}

.citacao {
  font-family: 'Verdana';
  font-size: 16px;
  float: right
}

.invite {
  font-family: 'Open Sans', sans-serif;
  color: #9a6d6c;
}

.modal-title {
  font-family: 'Pacifico', cursive
}

.modal-title {
  color: #9a6d6c
}

.info {
  margin: 50px 0 50px 0;

}

.subtitleGift {
  color: #624746;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}

.navbar {
  background-color: #fff5ed !important
}